# Test running vite dev server
WEBSITE_BASE_URL=http://localhost:5173/

# Test client hosted by local server
# WEBSITE_BASE_URL=http://127.0.0.1:3000

# Test deployment
# WEBSITE_BASE_URL=https://controlmylights.btarr.xyz
